DEBUG=True
LOG_LEVEL=info
 
GATEWAY_PORT=8000
MARKET_SERVICE_PORT=8001
PARSERS_PORT=8002
ORCHESTRATOR_PORT=8003
PRODUCT_SERVICE_PORT=8004
TEAM_SERVICE_PORT=8005
FINANCE_SERVICE_PORT=8006

MARKET_DB_USER=postgres
MARKET_DB_PASSWORD=postgres
MARKET_DB_NAME=glasdaq_db
MARKET_DB_PORT=5432
 
MARKET_SERVICE_URL=http://market_service:8001
ORCHESTRATOR_URL=http://orchestrator:8003
PRODUCT_SERVICE_URL=http://product_service:8004
TEAM_SERVICE_URL=http://team_service:8005
FINANCE_SERVICE_URL=http://finance_service:8006
PARSERS_URL=http://parsers:8002